
  <footer class="bg-light text-center text-lg-start" style="background-color: black;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Liens utiles</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="/" class="text-dark">Accueil</a>
            </li>
         
            <li>
              <a href="#!" class="text-dark">Partenaires</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Services</a>
            </li>
            <li>
                <a href="#!" class="text-dark">A propos</a>
            </li>
            <li>
                <a href="#!" class="text-dark">Contacts</a>
            </li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"></h5>
      
          <!-- <ul class="list-unstyled mb-0">
            <li *ngFor="let categorie of categories">
              <a [routerLink]="['list', categorie.nomCategorie, categorie._id]" class="text-dark">{{categorie.nomCategorie}}</a>
            </li>
            
           </ul> -->
        </div> 
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Abonnez-vous</h5>
  
          <p class="mt-2">Recevez nos dernières offres et nouveautés directement dans votre boîte mail.</p>
          <form>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" placeholder="name@example.com">
              <label for="email">Adresse e-mail</label>
            </div>
            <button type="submit" class="btn btn-primary">S'abonner</button>
          </form>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Suivez-nous</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark"><i class="bi bi-facebook"></i> Facebook</a>
            </li>
            <li>
              <a href="#!" class="text-dark"><i class="bi bi-twitter"></i> Twitter</a>
            </li>
            <li>
              <a href="#!" class="text-dark"><i class="bi bi-instagram"></i> Instagram</a>
            </li>
            <li>
              <a href="#!" class="text-dark"><i class="bi bi-youtube"></i> YouTube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 COMASEL - Tous droits réservés
    </div>
  </footer>