<div class="container">
    <h1>Projet d'extensions de réseaux</h1>
    <section >
        <img src="assets/images/1.jpg" alt="Image du projet" class="img-fluid">

      <h2>Objectifs du projet</h2>
      <p>Insérez ici les détails sur les objectifs du projet.</p>
    </section>
  
    <section>
      <h2>Composantes du projet</h2>
      <ul>
        <li>Composante 1: Description de la première composante</li>
        <li>Composante 2: Description de la deuxième composante</li>
        <li>Composante 3: Description de la troisième composante</li>
        <!-- Ajoutez autant de composantes que nécessaire -->
      </ul>
    </section>
  
    <section>
      <h2>Missions</h2>
      <ul>
        <li>Mission 1: Description de la première mission</li>
        <li>Mission 2: Description de la deuxième mission</li>
        <li>Mission 3: Description de la troisième mission</li>
        <!-- Ajoutez autant de missions que nécessaire -->
      </ul>
    </section>
  
    <section>
      <h2>Résultats attendus</h2>
      <p class="project-description">Insérez ici les détails sur les résultats attendus du projet.</p>
    </section>
  
    <!-- Ajoutez d'autres sections selon vos besoins -->
  
  </div>
  