

  <section class="about-section" id="about-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 sep wow fadeInUp" data-wow-delay="0.5s" >
            <img src="assets/images/dg1.jpg"  alt="Image" [class.show]="showImage">
        </div>
        <div class="col-lg-6">
          <h6>À propos </h6>
          <h1 class="mdg">MOT DU DG</h1>
          <p class="mdg-text">La COMASEL est chargée du développement de l’infrastructure d’électricité dans les zones rurales des régions de Saint-Louis et Louga et de la gestion du service d’électricité à l’intérieur de ces périmètres sur une durée de 25ans.
            La société couvre les départements de Saint-Louis, Dagana et Podor dans la région de Saint-Louis et les départements de Louga, Kébémer et Linguère dans la région de LOUGA.
            </p>
          <button type="button" class="btn btn-color btn-animate" routerLink="about-us/mot-du-dg">
            Voir plus <i class="bi bi-arrow-right"></i>
          </button>
        </div>
    
      </div>
    </div>
  </section>
  
  