

  <section class="about-section" id="about-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 sep">
            <img src="assets/images/dg1.jpg"  alt="Image" [class.show]="showImage">
        </div>
        <div class="col-lg-6">
          <h6>À propos </h6>
          <h1 class="mdg">MOT DU DG</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis lacinia eros, vitae scelerisque ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris luctus enim in congue ullamcorper. Donec bibendum lectus eu massa interdum congue.</p>
        </div>
    
      </div>
    </div>
  </section>
  
  