<div class="container">
    <p>
        Senelec est plus que jamais engagée à assurer la meilleure qualité de service à ses clients dans le cadre d’une démarche commerciale proactive. Cette démarche

        Sera portée en bandoulière dans toutes nos interactions en favorisant une mise en opération commerciale de proximité avec le client et la satisfaction de ses besoins et attentes.
        
        C’est dans ce sens que nous avons initié des projets majeurs et des solutions innovants orientées clients afin de faire de Senelec, l’entreprise publique préférée des Sénégalais. Entre autres, nous pouvons citer :
         </p>  <ul>
            <li> La mise en place d’une agence en ligne pour une dématérialisation des services. Ce qui permettra au client d’interagir avec l’agence via les moyens digitaux (smartphone, agence en ligne, etc.) ;</li>
            <li>La généralisation de la Gestion des files d’attentes (GFA) dans les agences pour une meilleure organisation de l’affluence durant les périodes de rush ;</li>
            <li>La mise en place d’un référentiel-agence avec notamment :</li>
              <ul> 
                <li>La construction d’un nouveau type d’agence </li>

                <li>La certification de l’accueil-client aux normes standards les plus élevées en terme de qualité de service (Iso, COPC) </li>
                
                <li>L’interaction avec la clientèle via la notification par mail et par sms </li>
                
                <li>Le déploiement du Woyofal</li>
            </ul> 
        </ul>
        <div class="image-grid">
            <div class="image-wrapper">
              <img src="assets/images/1.jpg" alt="Image 1">
            </div>
            <div class="image-wrapper">
              <img src="assets/images/2.jpg" alt="Image 2">
            </div>
            <div class="image-wrapper">
              <img src="assets/images/3.jpg"  alt="Image 3">
            </div>
            <div class="image-wrapper">
              <img src="assets/images/4.jpg"  alt="Image 4">
            </div>
          </div>
   
    
    </div>




