<div class="container">
    <h2 class="text-center title wow fadeInUp">Avec Woyofal, l’électricité prépayée, soyez enfin tranquille !</h2>
    
    <div class="row"  style="text-align: justify;">
      <div class="col-md-6">
        <h3 class="sous-title">Maitrisez votre budget d’électricité !</h3>
        
        <!-- <ul class="list-unstyled"> -->
          <ul>
          <li>Gérer votre consommation d’électricité selon vos moyens</li>
          <li>Maitriser votre consommation en connaissant l’énergie consommée par chacun de vos appareils</li>
          <li>Acheter votre crédit d’électricité selon vos moyens financiers</li>
          <li>Etre averti lorsque votre crédit d’électricité est sur le point de s’épuiser, avec trois niveaux d’alarme de type visuel et sonore</li>
          <li>Une absence de factures, donc de coupure et de frais de coupure pour défaut de paiement</li>
          <li>Gratuité pour les reconversions du client classique vers Woyofal</li>
        </ul>
        
        <p class="mb-4">Simplifiez-vous la vie en vous équipant d’un moteur Woyofal pour moins de 6000 francs CFA.</p>
        
        <p class="mb-4">Votre crédit d’électricité en vente partout à partir de 1000 francs CFA seulement !</p>
        
        <p class="mb-4 imp">NB : Pour les clients professionnels, le 1er achat doit se faire sur le réseau d’agences de la Senelec.</p>
      </div>
      
      <div class="col-md-6"  style="text-align: justify;">
        <h3 class="sous-title">Comment recharger son crédit d’électricité ?</h3>
        
        <ol>
          <li>Assurez-vous déjà que votre clavier est bien connecté à votre compteur ! Pour cela suivez la procédure ci-dessous :</li>
          <li>Brancher votre clavier sur une prise électrique de préférence la plus proche possible du compteur</li>
          <li>Attendre 2 minutes, le temps de voir s’afficher le message « CONNECT » puis « SUCCES ».</li>
          <li>Tapez « 804 » puis la touche entrée, celle qui se trouve en dessous du chiffre 9 pour vérifier votre numéro de compteur.</li>
          <li>Vérifier que les 11 chiffres qui s’affichent sur l’écran sont identiques au « numéro de série du compteur» indiqué sur votre ticket de rechargement.</li>
          <li>Saisir le code de 20 chiffres (crédit d’électricité) mentionné sur votre ticket de caisse puis appuyer sur la touche entrée, celle qui est en dessous du chiffre 9.</li>
          <li>Une quantité d’énergie en kWh (kilowattheures) va s’afficher sur l’écran.</li>
          <li>« SUCCES » OU « ACCEPTE » s’affiche sur votre écran pour indiquer que
            le rechargement a été effectué avec succès.</li>
        </ol>
        <p class="sous-title">Pour plus d'informations, tapez le code adéquat sur votre clavier :</p>
  
        <ul class="list-unstyled">
          <li> <span class="sous-title">800 : </span>Consommation totale d’énergie</li>
          <li><span class="sous-title">801 :</span> Crédit restant</li>
          <li><span class="sous-title">804 :</span> Numéro du compteur</li>
          <li><span class="sous-title">808 :</span> Puissance instantanée</li>
          <li><span class="sous-title">810 :</span> Valeur de découvert</li>
          <li><span class="sous-title">811 :</span> Crédit d’urgence, à activer une fois à zéro</li>
          <li><span class="sous-title">812 :</span> Désactivation de l’alarme sonore</li>
          <li><span class="sous-title">813 :</span> Consommation de la journée précédente</li>
          <li><span class="sous-title">814 :</span> Consommation d’énergie du mois en cours (kWh)</li>
          <li><span class="sous-title">815 :</span> Date de la dernière recharge</li>
          <li><span class="sous-title">816 :</span> Heure de la dernière recharge</li>
          <li><span class="sous-title">817 :</span> Montant de la dernière recharge (kWh)</li>
          <li><span class="sous-title">820 :</span> Consommation du mois précédent</li>
          <li><span class="sous-title">830 :</span> Code de la dernière recharge</li>
        </ul>
      </div>
    </div>
    <div  style="text-align: justify;">
    <h3 class="mt-5 sous-title">Comment devenir nouveau client du Woyofal ?</h3>
    <ul>
      <li>Fournir la liste des appareils dont vous disposez</li>
      <li>Fournir un titre d’occupation légal en bonne et due forme (Bail, autorisation d’occupation, contrat de location, etc.).</li>
      <li>Fournir les documents d’identification et administratifs selon le type de client :</li>
    </ul>
    <h5 class="sous-title">Client domestique :</h5>
    <ul>
      <li>Sénégalais ou résident de la zone UEMOA : Carte National d’identité ou Passeport</li>
      <li>Non Sénégalais : Carte consulaire ou passeport</li>
    </ul>
    <h5 class="sous-title">Client professionnel :</h5>
    <ul>
      <li>Copie du registre de commerce</li>
      <li>Copie de la carte National d’identité ou du passeport du représentant et cachet.</li>
    </ul>
    <p>Une fois la demande formulée, Senelec va procéder à la vérification de la conformité des installations du client.</p>
    <p>Si conforme, un avis de paiement des frais de timbres est remis au client. Après paiement de ces frais, un compteur Woyofal est posé et mis en service par un agent technique de Senelec. La reconversion au Woyofal est gratuite.</p>
    <p>Si non conforme, un bon de travaux pour mise aux normes en vigueur est remis au client.</p>
    <h3 class="mt-5 sous-title">La Reconversion au Woyofal (Client disposant déjà d’un compteur classique) :</h3>
    <p>Le client fournit les pièces suivantes :</p>
    <ul>
      <li>Une facture d’électricité de la police concernée</li>
      <li>Une copie de la CNI ou du Passeport.</li>

    </ul>
    <p style="text-align: justify;">Après cette formalité administrative et la vérification technique du local à alimenter, un compteur Woyofal est posé et mis en service par un agent technique de Senelec. La reconversion au Woyofal est gratuite.</p>
    <p>En cas de non-conformité, un bon de travaux pour mise aux normes en vigueur est remis au client.</p>
    <h3 class="mt-5 sous-title">Où trouver le crédit Woyofal ?</h3>
    <ul>
      <li>Toutes les agences Senelec</li>
      <li>Chez nos partenaires agréés</li>
    </ul>
    <p class="mt-5">L’électricité en toute simplicité:</p>
    <ul>
      <li>Pas de frais</li>
      <li>Pas de facture bimestrielle</li>
      <li>Pas de coupure pour défaut de paiement</li>
    </ul>
  </div>
    </div>        