.realisations {
    overflow-x: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  th {
    background-color: #ddd;
    text-align: left;
    font-weight: bold;
  }
  
  td {
    background-color: #fff;
  }
  
  th, td {
    padding: 10px;
    // border-bottom: 1px solid #ddd;
    border-bottom: 1px solid #99cd32;

  }
  
  @media screen and (max-width: 600px) {
    th, td {
      font-size: 12px;
    }
  }
  