<div class=" container realisations">
    <table>
      <thead>
        <tr>
          <th>RUBRIQUES</th>
          <th>Concession de SAINT-LOUIS</th>
          <th>Concession de LOUGA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nombre de villages électrifiés</td>
          <td>149</td>
          <td>217</td>
        </tr>
        <tr>
          <td>Nombre de villages (Postes H61) de transfert</td>
          <td>110</td>
          <td>187</td>
        </tr>
        <tr>
          <td>Nombre de clients raccordables</td>
          <td>19326</td>
          <td>18576</td>
        </tr>
        <tr>
          <td>Km MT réalisé</td>
          <td>222</td>
          <td>215.7</td>
        </tr>
        <tr>
          <td>Km BT réalisé</td>
          <td>375</td>
          <td>250.7</td>
        </tr>
        <tr>
          <td>Nombre de poste MT/BT raccordés</td>
          <td>226</td>
          <td>326</td>
        </tr>
        <tr>
          <td>Nombre d'abonnements des clients au réseau</td>
          <td>15238</td>
          <td>15363</td>
        </tr>
        <tr>
          <td>Nombre de branchements et installations intérieures réalisées</td>
          <td>15228</td>
          <td>15342</td>
        </tr>
        <tr>
          <td>Taux d'abonnement Réseau</td>
          <td>79%</td>
          <td>83%</td>
        </tr>
        <tr>
          <td>Taux d'atteinte de l'objectif pour la période (2022-2026)</td>
          <td>58%</td>
          <td>78%</td>
        </tr>
      </tbody>
    </table>
  </div>
  