<div class="image-gallery container">
    <div class="image-container">
      <img src="assets/images/cnseil.png" alt="Image 1">
    </div>
    <div class="image-container">
        <img src="assets/images/cnseil1.png" alt="Image 1">
      </div>
      <div class="image-container">
        <img src="assets/images/cnseil2.png" alt="Image 1">
      </div>
      <div class="image-container">
        <img src="assets/images/cnseil3.png" alt="Image 1">
      </div>
      <div class="image-container">
        <img src="assets/images/cnseil4.png" alt="Image 1">
      </div>
      <div class="image-container">
        <img src="assets/images/cnseil5.png" alt="Image 1">
      </div>
      <div class="image-container">
        <img src="assets/images/cnseil6.png" alt="Image 1">
      </div>
      <div class="image-container">
        <img src="assets/images/cnseil7.png" alt="Image 1"/>
      </div>
      <div class="image-container">
        <img src="assets/images/cnseil8.png" alt="Image 1">
      </div>
    <!-- Ajoutez d'autres images selon vos besoins -->
  </div>
  