<div class="container first">
    <div class="row">
      <div class="">
        <h4 class="fw-bold">Article 1 – Objet</h4>
  
        <p>Les présentes Conditions d’utilisation ont pour objet de définir les conditions selon lesquelles Senelec permet à l’Utilisateur d’accéder et d’utiliser les applications et les sites web de Senelec.</p>
  
        <h4 class="fw-bold">Article 2 – Engagements et Obligations</h4>
  
        <p>En utilisant les Services, l’Internaute reconnaît :</p>
  
        <ul class="">
          <li class="">Etre responsable des données qu’il diffuse, utilise et/ou transfère.</li>
          <li class="">Avoir connaissance que toute violation des dispositions législatives en vigueur et/ou toute atteinte aux intérêts légitimes de tiers, ou à leurs droits de propriétés intellectuelles, est susceptible d’entraîner des poursuites judiciaires et sanctions à son encontre.</li>
          <li class="">Que Senelec n’est pas responsable de l’usage des données, du contenu diffusé ou des services d’une autre personne et qui, notamment, ne respecterait pas la législation en vigueur.</li>
          <li class="">Que Senelec ne saurait en aucun cas assumer une quelconque responsabilité en ce qui concerne les relations susceptibles d’être nouées entre les Internautes et les tiers, partenaires ou non de Senelec, du fait ou à l’occasion de l’utilisation des applications, du Site, et/ou en ce qui concerne les services fournis par ces tiers et les conséquences qui pourraient résulter de leur utilisation.</li>
          <li class="">Que, du fait de la nature du réseau Internet, les données circulant sur ce réseau ne sont pas protégées contre toute forme d’intrusion y compris par voie de piratage. Dès lors, l’Internaute reconnaît avoir été averti que Senelec ne peut en aucun cas assurer la sécurité ou l’intégrité de quelque information que ce soit transmise sur Internet. Il appartient en conséquence à l’Internaute :</li>
          <ul>
            <li class="">De mettre en œuvre les moyens nécessaires afin de préserver la sécurité des informations qu’il transmettrait sur le réseau Internet.</li>
            <li class="">D’assurer la protection des données et/ou logiciels stockés sur son ordinateur à partir duquel il a accès au Site contre toute forme de contamination par des virus et/ou de tentative d’intrusion par piratage, Senelec ne pouvant en aucun cas être tenu pour responsable.</li>
          </ul>
        </ul>
  
        <p>Senelec met en œuvre les actions nécessaires afin de protéger les données personnelles qu’il traite de façon à ce que leur sécurité, protection et confidentialité soient assurées au regard de leur niveau de sensibilité, via des mesures administratives, techniques et physiques pour
            prévenir la perte, le vol, l’utilisation, la divulgation ou encore la modification non-autorisée.</p>
        </div>
        
          </div>
        
        <div class="container1">
            <div class="row">
              <div class="">
                <h4>Article 3 – Propriété de Senelec et de ses partenaires</h4>
                <p>Senelec est propriétaire de tous les droits de propriété intellectuelle sur ses applications et sites. L’ensemble des contenus (photos, textes, vidéo, son, etc...) sont et demeurent, en dehors des contenus mis en ligne par l’Internaute, la propriété exclusive de Senelec et/ou de ses partenaires et/ou des autres utilisateurs du Site. L'internaute n'est donc pas habilité à reproduire, représenter ou commercialiser ces contenus en dehors des cas prévus par la loi ou expressément autorisés par leur propriétaire. En toute hypothèse, l'internaute ne peut réaliser aucune utilisation secondaire des contenus du site à titre onéreux ou gratuit.</p>
              </div>
            </div>
          </div>
          <div class="container1">
            <div class="row">
              <div class="">
                <h4>Article 4 – Données liées à la navigation</h4>
                <p>Lors de sa navigation sur le site ou l'utilisation des applications, l'internaute laisse sur le serveur de Senelec des traces informatiques non nominatives appelées "fichiers logs" que Senelec utilise afin d'orienter le contenu éditorial et promotionnel des services. Ces informations, qui ne sont pas nominatives, ne sont collectées que sur le site ou les applications et ne sont pas sauvegardées par Senelec. Elles ne sont pas réutilisables par Senelec lors d'une nouvelle utilisation que l'internaute fera du site ou de l'application.</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="">
                <h4>Article 5 – Cookies</h4>
                <p>Un cookie est un fichier téléchargé sur votre ordinateur, tablette ou tout autre terminal mobile lors de l'accès à notre site internet. Les cookies permettent de stocker et récupérer des informations sur vos habitudes de navigation ou de l'équipement à partir duquel vous accédez au site.</p>
                <p>Senelec se réserve la possibilité d'implanter un cookie dans l'ordinateur de tout internaute visitant le site afin d'enregistrer toute information relative à la navigation de son ordinateur sur le site à savoir, et sans que cette liste soit limitative, toute information relative aux pages consultées et aux dates et heures de consultation.</p>
                <p>Tout internaute a la possibilité de s'opposer à l'enregistrement de ce "cookie" en configurant les paramètres du navigateur de son ordinateur en se reportant à la documentation fournie par l'éditeur de son navigateur.</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="">
                <h4>Article 6 – Données personnelles</h4>
                <p>Les données personnelles recueillies dans le cadre de l'utilisation des services de Senelec sont obligatoires et seront utilisées pour satisfaire aux obligations légales et réglementaires.</p>
                <p>Toute information personnelle que l'internaute serait amené à transmettre à Senelec dans l'utilisation du site, des applications ou pour la participation à des jeux, concours organisés par Senelec et/ou l'un de ses partenaires est soumise à la loi n° 2008-12 du 25/01/2018 sur la protection des données à caractère personnel. A ce titre, l'internaute dispose d'un droit d'accès, de rectification, de suppression et d'opposition sur les informations le concernant qu'il peut exercer à tout moment par écrit à l'adresse suivante :</p>
                <address>
                  Senelec<br>
                  BP 93, 28 rue Vincens<br>
                  Dakar – Sénégal
                </address>
                <p>L'internaute accepte sauf opposition que ces informations soient utilisées pour les finalités suivantes :</p>
                <ul>
                  <li>Mise à jour de la base de données des clients</li>
                  <li>Communication avec ses consommateurs</li>
                  <li>Communication à des instituts de sondages, d'étude de marché</li>
                  <li>Communication à ses sociétés partenaires à des fins d'étude ou de promotion ou d'utilisation de ses services</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="">
                <h4>Article 7 – Droit applicable et compétence</h4>
                <p>Les présentes Conditions Générales d'Utilisation sont régies par la loi sénégalaise.</p>
                <p>Tout litige survenant entre les Parties et relatif à la conclusion, l'interprétation, l'exécution et la résiliation des présentes Conditions devra être soumis aux juridictions sénégalaises compétentes.</p>
              </div>
            </div>
          </div>

        </div>