<div class="container">
    <h1>Office National de l’Electricité et de l’Eau Potable du Maroc (ONEE)</h1>
    <p>L’Office National de l’Electricité et de l’Eau Potable du Maroc (ONEE) a conclu respectivement en mai 2008 et novembre 2009 deux contrats de concessions d’électrification rurale au Sénégal dans les régions de Saint-Louis et Louga.</p>
    <p>En fait, le contrat de concession met à la charge du concessionnaire l’obligation de développer l’infrastructure d’électrification par raccordement au réseau national du Sénégal à l’intérieur de ces périmètres et par utilisation des énergies renouvelables et d’en assurer l’exploitation technique et commerciale sur une durée de 25 ans.</p>
    <p>Pour l’exécution de ces contrats, l’ONEE a créé deux sociétés de projets, de droits sénégalais :</p>
    <ul>
      <li>Compagnie marocco-sénégalaise de l’électricité de Saint-Louis (COMASEL Saint-Louis)</li>
      <li>Compagnie marocco-sénégalaise de l’électricité de Louga (COMASEL Louga)</li>
    </ul>
    <p>En 2022, les deux sociétés de projet ont fusionné pour donner naissance à la société Compagnie marocco-sénégalaise de l’électricité (COMASEL).</p>
    <h2>Missions :</h2>
    <ul>
      <li>Electrifier les localités dans le périmètre des concessions</li>
      <li>Construire des infrastructures réseau lignes basse et moyenne tension et des postes MT/BT</li>
      <li>Equiper les foyers des localités loin du réseau en systèmes Photovoltaïques individuels</li>
    </ul>
    <h2>Fusion des deux sociétés de projet COMASEL Saint-Louis et COMASEL Louga</h2>
    <p>Les deux sociétés de projet COMASEL Saint-Louis et COMASEL Louga ont fait face à un environnement macro-économique difficile à la suite d’un endettement de la COMASEL, des exigences de raccordement et la problématique tarifaire.</p>
    <p>Leur rapprochement s
        'inscrit dans un mouvement stratégique de consolidation des périmètres et du réseau. Il permettrait au nouvel ensemble de bénéficier d'une capacité financière renforcée par :</p>
        
          <ul>
            <li>Combinaison de cash-flows significatifs</li>
            <li>Mutualisation des ressources</li>
            <li>Amélioration de la trésorerie de COMASEL de Saint-Louis pour lui permettre de rembourser ses dettes</li>
          </ul>
          <p>En outre, le rapprochement permettrait au nouvel ensemble de bénéficier d'une combinaison attractive d'actifs développés, et un potentiel de développement significatif au Nord du Sénégal. L'ensemble consolidé offrirait à l’actionnaire un investissement sain et des concessions en équilibre financier aptes à faire face aux engagements contractuels.</p>

</div>