<section class="bureaux wow fadeInUp" data-wow-delay="0.5s" id="section-bureaux" >
    <div class="container">
      <h2>Nos agences</h2>
      <div class="card-container">
        <div class="card" *ngFor="let bureau of bureaux">
          <img [src]="bureau.image" alt="Bureau {{ bureau.nom }}">
          <div class="card-body">
            <h3>{{ bureau.nom }}</h3>
            <p>  <i class="bi bi-geo" style="color: blue;"></i> : {{ bureau.adresse }}</p>
            <p> <i class="bi bi-telephone" style="color: red;"></i> : {{ bureau.telephone }}</p>
            <!-- <p>Email : {{ bureau.email }}</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  