<div class="container1">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
   
          <div class="director-info">
            <!-- <img src="assets/images/dg.jpg" alt="Photo du directeur" class="director-image" style="width: 200px;"> -->
            <h4 class="director-name">Nom du directeur</h4>
          </div>
          
        <p class="lead-">
          C'est avec un grand plaisir que je vous souhaite la bienvenue sur cet espace qui est le vôtre et qui est pour moi une autre façon d'entretenir une relation privilégiée avec vous, notre précieux public.
        </p>
        <p>
          Que vous soyez un consommateur à la recherche d'informations sur les conditions d'abonnement, les méthodes de facturation ou les différentes options offertes par notre société, nous sommes là pour vous servir.
        </p>
        <p>
          Si vous êtes un investisseur à la recherche de précisions sur nos plans et opportunités de partenariat pour le développement du secteur, ou si vous êtes détenteur de projets industriels souhaitant connaître les conditions d'accès, de fourniture et de tarification de l'énergie électrique au Sénégal, sachez que vous êtes les bienvenus.
        </p>
        <p>
          Aux jeunes étudiants et chercheurs intéressés par le secteur de l'électricité et notre travail à Senelec, nous sommes heureux de vous compter parmi nos visiteurs. Vos idées et contributions sont les bienvenues.
        </p>
        <p>
          Enfin, aux citoyens curieux, soucieux de mieux comprendre le rôle et les actions de la Société nationale d'Electricité du Sénégal, sachez que nous sommes à votre disposition. Nous sommes ici pour répondre à vos questions et fournir les informations dont vous avez besoin.
        </p>
        <p>
          Je voudrais simplement rappeler que nous sommes entièrement à votre service et engagés à soutenir les ambitions du gouvernement pour assurer l'accès universel à l'électricité et contribuer à l'émergence du Sénégal d'ici 2035.
        </p>
        <div class="text-end">
          <p class="fw-bold">Cordialement,</p>
          <p>[Votre nom]</p>
        </div>
      </div>
    </div>
  </div>
  