<div class="container">
<p>
    La distribution est l’opération qui permet à Senelec d’acheminer l’électricité disponible dans le réseau au consommateur final à travers un procédé nécessitant une bonne maitrise technique.

Le réseau de distribution de Senelec est alimenté à partir des postes sources ou injecteurs.  Il y'a   essentiellement deux types :
</p>  <ul>
        <li>   Le réseau HTA qui assure la desserte de   l’énergie vers les postes de distribution publics, mixes et clients avec deux niveaux de tension 30KV.</li>
    

       <li>   Le réseau BT qui assure la distribution de l’énergie à partir des postes de transformation HTA/BT vers le client.</li>
    
    </ul>
    <div class="image-wrapper">
        <img src="assets/images/1.jpg" height="100" alt="Image Description" class="img-responsive">
      </div>

</div>